body {
    margin: 0px;
    padding: 0px;
  }

  .container
  {
      width:100%;
      height:100vh;
  }
  #parent {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 96%;
    float: left;
  }

  #div1 {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    background-color: #A2A;
    overflow: hidden;
  }

  #div2 {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    background-color: #BBB;
    overflow: hidden;
  }

  #div1 .header
  {
      width:100%;
      height:5vh;
      background-color: rgb(138, 136, 136);
  }

  #div1 .info
  {
      width:100%;
      height:30vh;
      background-color: aqua;
      overflow-y: scroll;
  }
  #div1 .codesection
  {
      width:100%;
      height:70vh;
      background-color: red;
      overflow-y:scroll;
  }
  .side-nav
  {
      width:4%;
      height:100vh;
      background-color: black;
      float: left;
  }